/* -------------------------- */
/* Variables                    */
/* -------------------------- */
:root {
    --clr-primary-300: #1A2238;
    --clr-primary-400: #c8d8e4;
    --clr-secondary-300: #52ab98;
    --clr-neutral-300: #ffffff;
    --clr-neutral-400: #f2f2f2;
    --clr-neutral-400: #333333;

    --ff-300: 'Lora', serif;
    --ff-400: 'Roboto', sans-serif;

    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;

    --fs-200: 0.875rem;
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.75rem;
    --fs-600: 2rem;
    --fs-700: 2.5rem;
    --fs-800: 3rem;
    --fs-900: clamp(2.2rem, 8vw + 1rem, 6.5rem);
}

/* @media (min-width: 35rem) {
    :root {
        --fs-400: 1rem;
        --fs-500: 1.25rem;
    }
} */

/* -------------------------- */
/* Reset                      */
/* -------------------------- */

/* Box Sizing */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* html */
html:focus-within {
    scroll-behavior: smooth;
}

/* Body Setup */
body {
    font-family: var(--ff-300);
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--clr-neutral-300);
    min-height: 100vh;
    /* overflow: hidden; */
    text-rendering: optimizeSpeed;
}

/* Images */
img,
picture {
    display: block;
    max-width: 100%;
    height: auto;
}


/* Form Elements */
input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
    color: var(--clr-neutral-300);
}

ul[role="list"],
ol[roloe="list"] {
    list-style: none;
}

/* remove animations for people who've turned them off */

@media(prefers-reduced-motion: reduce) {
    html:focus-withing {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* -------------------------- */
/* Utility Classes            */
/* -------------------------- */

.flex {
    display: flex;
    flex-direction: column;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--gap, 1rem);
}

.flow > * + * {
    margin-top: var(--flow-space, 1rem);
}

.container {
    max-width: 80rem;
    width: 90%;
    margin: 0 auto;
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.section-py {
    padding-top: 3rem;
    padding-bottom: 4rem;
}


/* colors */

.text-white {
    color: var(--clr-neutral-300);
}

.section-header  {
    text-align: center;
    max-width: 30rem;
    margin: 0 auto;
}

/* Components */

.btn {
    display: inline-block;
    background: var(--clr-primary-400);
    padding: 0.8em 1.6em;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #333;
    font-weight: bold;
}


/* -------------------------- */
/* Header                     */
/* -------------------------- */

.upper-header {
    background-color: var(--clr-primary-300);
    padding: 1rem 0;
    color: var(--clr-neutral-500);
}

.upper-header .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__social {
    flex-direction: row;
    align-items: center;
}

.lower-header {
    padding: 1.5rem 0;

}

.lower-header .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.primary-navigation {
    flex-direction: row;
    flex-wrap: wrap;
}

.primary-navigation a {
    color: var(--clr-neutral-500);
}


/* -------------------------- */
/* Showcase Section           */
/* -------------------------- */

.showcase {
    height: calc(100vh - 9.5rem);
    position: relative;
}

.showcase__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.showcase__video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.showcase__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 90%;
    max-width: 45rem;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;

} 

/* -------------------------- */
/* About    Section           */
/* -------------------------- */

.about__alt-box_heading {
    flex-direction: row;
    align-items: center;
}


/* -------------------------- */
/* Media Queries              */
/* -------------------------- */

.get-started__box {
    text-align: center;
}






/* -------------------------- */
/* SVG Miner                   */
/* -------------------------- */
 
 .miner_animate_spin_linear.miner_animate_spin_speed1 {
    -webkit-animation-duration: 3.8s;
    animation-duration: 3.8s;
}

.miner_animate_spin_linear {
    -webkit-animation-name: miner_animate_spin_linear;
    animation-name: miner_animate_spin_linear;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-transform-origin: center;
    transform-origin: center;
    transform-box: fill-box;
}


@keyframes miner_animate_spin_linear {

    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    
    100% {
        -webkit-transform: rotate(
    360deg);
        transform: rotate(
    360deg);
    }
}

svg:not(:root) {
    overflow: hidden;
}

.small {
    width: 50%;
}


.mining .container {
    --gap: 2rem;
    align-items: center;
} 
  
.cta {
    background: var(--clr-primary-300);  
}

/* -------------------------- */
/* Media Queries              */
/* -------------------------- */

@media (min-width: 50em) {
    .about .container {
        --gap: 3rem;
        flex-direction: row;
    }

    .reasons .container {
        flex-direction: row;
    }

    .get-started__list {
        flex-direction: row;
        justify-content: space-between;
    }

    /* Features */
    .features__list {
        --gap: 2rem;
        grid-template-columns: repeat(3, 1fr );
    }

  
    .cloud-mining__what,
    .cloud-mining__adv {
        --gap: 4rem;
        flex-direction: row;
        align-items: center;
    }

    .cloud-mining__what > div,
    .cloud-mining__adv > div {
        width: 100%;
    }



    .cta .container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .cta .container > div {
        width: 100%;
    }

    .cta__content  {
        align-items: center;
        color: #fff;
    }

    .cta__content h3 {
        font-size: 2rem;
    }
   
}